/* main utilities  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
	--color-nav: #ff6900;
	--color-background: #ffffff;
	--color-footer: #1a1a1a;
	--color-hearts: #000000;
	--color-discount: #ff0000;
	--color-sustainability: #008000;
}

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 5px;
}

a {
    text-decoration: none;
    color: var(--color-background);
    padding: 0 5px;
}

a:hover {
    text-decoration: underline;
}


/* Flex  */
.d-flex {
    display:flex;
}
.justify-space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
    align-content: center;
}
.wrap {
    flex-flow: row wrap;
}

/* Header */
header {
    height: 70px;
    width: 100%;
    background-color: var(--color-nav);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    color: var(--color-background);
}

header .container {
    padding-top: 20px;
}

header img {
    width: 10%;
    min-width: 100px;
}

.nav-sections a, .nav-utilities a {
    font-weight: bold;
}

/* main  */
.shop {
    margin-top: 70px;
    padding: 60px 5px;
}

/* card  */
.item-card {
    max-width: 33%;
    padding: 20px 5px;
}
.item-photo {
    position: relative;
}
.item-photo img {
    max-width: 100%;
}

.item-img-hidden {
    display:none
}

.item-card:hover .item-img-main{
    display: none;
}
.item-card:hover .item-img-hidden{
    display: inline-block;
}

/* labels  */
.label-discounts {
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 2;
    font-weight: bold;
    font-size: 1em;
}
.discount-percentage {
    background-color: var(--color-discount);
    padding: 5px 10px;
    color: var(--color-background);
}
.sustainability {
    background-color: var(--color-sustainability);
    padding: 5px 10px;
    color: var(--color-background);
}
.favourite-item {
    font-size: 2em;
    background-color: var(--color-background);
    color: var(--color-hearts);
    padding: 5px 15px;
    position: absolute;
    top: 10px;
    right: 0;
}
.favourite-item:hover {
    color: var(--color-discount);
}

/* card text  */
.discount-price {
    font-weight: bold;
    color: var(--color-discount);
}
.original-price {
    text-decoration: line-through;
}

.item-text h5 {
    font-weight: lighter;
    font-size: 0.9em;
}
.item-text a {
    padding: 0;
}

.item-text h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    color: var(--color-hearts);
}


/* footer  */
footer {
    background-color: var(--color-footer);
    padding: 30px 5px;
    color: var(--color-background);
    margin-top: 40px;
}
.info-section a {
    font-size: 0.9em;
}
.info-section h3 {
    padding: 0 0 5px 5px;
}

.social-section i {
    font-size: 1.3em;
    padding-top: 10px;
}
